* {
    color: var(--color-light-text);
}

body {
    background-color: var(--color-background);
}

h1{
    background-color: rgb(7, 28, 224);
}

h2 {
    background-color: rgb(131, 225, 184);
    color: var(--color-dark-text);
}

a {
    color:var(--color-link);
}

button {
    color: var(--color-dark-text);
}

input {
    color: var(--color-dark-text);
}

textarea {
    color: var(--color-dark-text);
}