* {
    color: var(--color-light-text);
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
}

body {
    background-color: var(--color-background);
}

h1{
    background-color: var(--color-h1);
    font-family: var(--font-header-family);
    font-weight: 900;
}

h2 {
    background-color: var(--color-h2);
    font-family: var(--font-header-family);
    font-weight: 650;
}

a {
    color:var(--color-link);
}

button {
    color: var(--color-dark-text);
}

input {
    color: var(--color-dark-text);
}

textarea {
    color: var(--color-dark-text);
}


svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    color: var(--color-dark-text);
    fill: currentColor;
}