/* MAKE SURE THIS IS SPECIFIC TO POST */

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 
        "characters settings sidebar"
        "plots worlds sidebar";
    gap: 20px;
    padding: 10px;
}

.characters, .settings, .plots, .worlds {
    border: 1px solid var(--color-light-text);
}

.characters ul, .settings ul, .plots ul, .worlds ul{
    place-items: center;
    list-style-type: none;
    padding-left: 0;
}

.characters {
    grid-area: characters;
}
.settings {
    grid-area: settings;
}
.plots {
    grid-area: plots;
}
.worlds {
    grid-area: worlds;
}

.sidebar a{
    grid-area: sidebar;
    font-family: var(--font-header-family);
}
