/* MAKE SURE THIS IS SPECIFIC TO POST */

h2{
    text-align: center;
}

button {
    color: var(--color-dark-text);
}

select {
    background-color: var(--color-background);
    color: var(--color-light-text-2);
    font-family: var(--font-body-family);
    width: 100%;
}

select option{
    background-color: var(--color-background);
    color: var(--color-light-text-2);
}

textarea {
    background-color: var(--color-background);
    color: var(--color-light-text-2);
    width: 100%;
}

.divider{
    border: 1px solid var(--color-light-text);
    width: 100%;
}

/* GRID */
.grid {
    padding: var(--padding);
    border: 1px solid var(--color-light-text);
    width: 300px;
    height: fit-content;
    margin: auto;
}