:root{
    --color-light-text: rgb(157, 229, 255);
    --color-background: rgb(0, 0, 0);
    --color-dark-text: rgb(54, 54, 54);
    --color-link: rgb(128, 156, 255);
    --color-h1: rgb(62, 70, 84);
    --color-h2: rgb(7, 28, 224);
    --color-h3: rgb(81, 48, 245);

    --font-body-family: "Quantico", sans-serif;
    --font-body-weight: 400;
    --font-header-family: "Orbitron", sans-serif;
}

/* default colors: 
    cool asthetic to replicate the stars (world builder)
*/

/* default fonts: 
    headers - anta
    body - iceland 
*/
