:root{
    --color-light-text: rgb(157, 229, 255);
    --color-background: rgb(0, 0, 0);
    --color-dark-text: rgb(54, 54, 54);
    --color-link: rgb(128, 156, 255);
    --color-h1: rgb(62, 70, 84);
    --color-h2: var(--color-background);
    --color-h3: rgb(23, 11, 84);

    --font-body-family: "Quantico", sans-serif;
    --font-body-weight: 400;
    --font-header-family: "Orbitron", sans-serif;

    --nav-spacing: 10px;
    --nav-logo-font-size: 20px;
    --nav-other-font-size: 15px;

    --padding: 17px;
    --grid-spacing: 20px;
}

/* default colors: 
    cool asthetic to replicate the stars (world builder)
*/

/* default fonts: 
    headers - anta
    body - iceland 
*/
