/* MAKE SURE THIS IS SPECIFIC TO WRITING */


button {
    color: var(--color-dark-text);
    background-color: var(--color-light-text);
    font-family: var(--font-body-family);
}

textarea {
    background-color: var(--color-background);
    color: var(--color-light-text-2);
    width: 100%;
    max-width: none;
    flex-basis: 100%;
}

.divider{
    border: 1px solid var(--color-light-text);
    width: 100%;
}

#Description, #Backstory {
    height: 100px;
}

.flex {
    padding: var(--padding);
    gap: var(--flex-spacing);
    height: fit-content;
    margin: auto;
}